html(lang="en", ng-app="myApp")
  head
    meta(chartset="utf-8")
    //- meta(http-equiv="refresh", content="1")
    title My App 
  body
  .container
    .navbar.navbar-fixed-top
      .navbar-inner
        ul.nav
          li: a(href="#/main") Home
          li: a(href="#/about") About

    div(ng-view)
    a(href="#/main") link

    // != css('lib/bootstrap/bootstrap.min')
    // != css('lib/bootstrap/bootstrap-responsive.min')
    != css('app')
    != js('lib/bootstrap/bootstrap.min')
    != js('lib/angular/angular.min')
    != js('app')
    != js('controllers')
    != js('directives')
    != js('filters')
    != js('services')